.ipynb_checkpoints/
processing-4.3.4/
.venv/
*.pyc
__pycache__/
.env
node_modules/
.env
.DS_Store
*.log
dist/
build/
.vscode/
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/
.vscode/
*.csproj
*.unityproj
*.sln
*.user
*.class
*.jar
*.exe
*.log
*.tmp
*.svg
*.zip

