2025_05_01_taller_imagen_matriz_pixeless/
2025_05_01_taller_imagen_matriz_pixeless/
2025_05_01_taller_jerarquias_transformacione/
2025-04-21_taller_estructuras_3d/
2025-05-04_taller_algoritmos_rasterizacion_basica/
2025-05-04_taller_analisis_figuras_geometricas/
2025-05-04_taller_segmentacion_formas/
2025-05-04_taller_conversion_formatos_3d/